/* golden ratio intervals
 * 0x9D 0x61 0x3C 0xD9 of 0x100
 * 62   38   23   85   0f 100 */

body{
font-family:monospace;
font-size:12;
background-color:white;
color:black;
}

div{
width:40em; /* 64 glyphs */
}
/* HSL color wheel colors 
 * 0 red
 * 30 orange
 * 60 yellow
 * 90 chartreuse
 * 120 green
 * 160 turqoise
 * 180 cyan
 * 210 saphire
 * 240 blue
 * 270 purple
 * 300 magenta
 * 330 pink 
 */
/* synesthesia glyphs */
.iy{ color:hsl(60,0%,9%);/*black*/ }
.oy{ color:hsl(180,0%,38%);/*white*/}
.gs{ color:hsl(90,0%,23%);/*light gray*/ }

.ay{ color:hsl(000,85%,38%);/*red*/ }
.cy{ color:hsl(015,62%,38%);/*scarley*/ }
.wy{ color:hsl(030,62%,38%);/*orange*/ }
.sy{ color:hsl(045,62%,38%);/*amber*/ }
.yy{ color:hsl(060,62%,38%);/*yellow*/ }
.ey{ color:hsl(075,85%,38%);/*lime*/}
.ly{ color:hsl(090,62%,38%);/*chartr*/ }
.dy{ color:hsl(105,62%,38%);/* . harlequin*/}
.ky{ color:hsl(120,62%,38%);/*green*/ }
.gy{ color:hsl(135,62%,38%);/*libre*/ }
.ty{ color:hsl(150,62%,38%);/*light spring*/ }
.qy{ color:hsl(165,62%,38%);/*medium spring*/ }
.uy{ color:hsl(180,85%,38%);/*cyan*/ }
.by{ color:hsl(195,62%,38%);/*sky*/ }
.vy{ color:hsl(210,62%,38%);/*dodger*/ }
.hy{ color:hsl(225,62%,38%);/*han*/ }
.py{ color:hsl(240,62%,38%);/*blue*/ }
.zy{ color:hsl(255,62%,38%);/*han*/}
.ny{ color:hsl(270,62%,38%);/*indigo*/ }
.xy{ color:hsl(285,62%,38%);/*purple*/ }
.my{ color:hsl(300,62%,38%);/*magenta*/ }
.jy{ color:hsl(315,62%,38%);/*hmagenta*/}
.fy{ color:hsl(330,62%,38%);/*pink*/ }
.ry{ color:hsl(345,62%,38%);/*torch*/ }


.Iy{ color:hsl(60,0%,9%);/*black*/ }
.Oy{ color:hsl(180,0%,38%);/*white*/}

.Ay{ color:hsl(000,85%,38%);/*red*/ }
.Cy{ color:hsl(015,62%,38%);/*scarley*/ }
.Wy{ color:hsl(030,62%,38%);/*orange*/ }
.Sy{ color:hsl(045,62%,38%);/*amber*/ }
.Yy{ color:hsl(060,62%,38%);/*yellow*/ }
.Ey{ color:hsl(075,85%,38%);/*lime*/}
.Ly{ color:hsl(090,62%,38%);/*chartr*/ }
.Dy{ color:hsl(105,62%,38%);/* . harlequin*/}
.Ky{ color:hsl(120,62%,38%);/*green*/ }
.Gy{ color:hsl(135,62%,38%);/*libre*/ }
.Ty{ color:hsl(150,62%,38%);/*light spring*/ }
.Qy{ color:hsl(165,62%,38%);/*medium spring*/ }
.Uy{ color:hsl(180,85%,38%);/*cyan*/ }
.By{ color:hsl(195,62%,38%);/*sky*/ }
.Vy{ color:hsl(210,62%,38%);/*dodger*/ }
.Hy{ color:hsl(225,62%,38%);/*han*/ }
.Py{ color:hsl(240,62%,38%);/*blue*/ }
.Zy{ color:hsl(255,62%,38%);/*han*/}
.Ny{ color:hsl(270,62%,38%);/*indigo*/ }
.Xy{ color:hsl(285,62%,38%);/*purple*/ }
.My{ color:hsl(300,62%,38%);/*magenta*/ }
.Jy{ color:hsl(315,62%,38%);/*hmagenta*/}
.Fy{ color:hsl(330,62%,38%);/*pink*/ }
.Ry{ color:hsl(345,62%,38%);/*torch*/ }
/* synesthesia numbers*/
.n0{ color:hsl(060,00%,9%);/*black*/ }
.n8{ color:hsl(180,00%,38%);/*white*/}

/* syntax highlighting */
/* sentence*/
.sh{ background-color:hsl(270,0%,85%);/*dark gray*/ 
border-radius: 0.23em; overflow:hidden; }
/* phrse case*/
.ch{ background-color:hsl(270,0%,94%);/*bright gray*/ 
border-radius: 0.23em; overflow:hidden; }
/* types*/
.th{ background-color:hsl(0,62%,91%);/*red*/ 
border-radius: 0.23em; overflow:hidden; }
/* clauses*/
.lh{ background-color:hsl(240,62%,91%);/*blue*/ 
border-radius: 0.23em; overflow:hidden; }
/* mood*/
.mh{ background-color:hsl(300,62%,91%);/*magenta*/ 
border-radius: 0.23em; overflow:hidden; }
/* genitives*/
.gh{ background-color:hsl(120,62%,91%);/*green*/ 
border-radius: 0.23em; overflow:hidden; }
/* junctions*/
.jh{ background-color:hsl(60,62%,91%);/*yellow*/ 
border-radius: 0.23em; overflow:hidden; }
blink{
    animation-duration: 510ms;
    animation-name: blinky;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blinky {
from{ opacity: 1;}
to{ opacity: 0;}
}

/* language specific */
.ara{ direction: rtl; text-align: right;}
